 <div class="container">
         <div class="row box well">
             <h4> {{wh.location.city}}, {{wh.location.region}} </h4>
             <div class="tb">
                     <div id="today" class="pull-left">{{wh.item.condition.temp}}° </div>
                     <div class=""><img class="forecast-img" ng-src="http://l.yimg.com/a/i/us/we/52/{{wh.item.condition.code}}.gif" title="{{wh.item.condition.text}}" onerror="this.onerror=null; this.src='no_img.gif'" /><br>
                        {{ wh.item.condition.text }}
                    </div>
            </div>
            <table>
                 <tr>
                     <td  ng-repeat="forecast in wh.item.forecast | limitTo:5">
                        {{ forecast.day}}<br>
                        {{ forecast.high }}°/{{ forecast.low }}°
                     </td>
                 </tr>
             </table>
             
            </div>
    
        <div class="row search">
             <form ng-submit="search()">
                 <input type="text" ng-model="zip" class="input-sm"  placeholder="zipcode" />
                 <input type="text" ng-model="state" class="input-sm"  placeholder="state" />
                 <button type="submit" class="btn btn-primary btn-sm">Search</button>
            </form>      
    </div>
 
</div>